@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

* {
   margin: 0 ;
   padding:0 ;
   font-family: "Open Sans", sans-serif ;
   font-weight: 400;
}

a {
    color:black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(205, 224, 252),rgb(205, 224, 252));
    height: 8vh;
}

main{
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display:flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}


.mobile-menu div {
    width: 32px;
    height: 2px;
    background:darkblue;
    margin: 8px;
}
